body {
    color: whitesmoke;
    font-family: monospace;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
}

nav div {
    display: flex;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

nav div a {
    flex: 1;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
}

nav div a:hover{
    color: orange;
    font-weight: bold;
}

.container {
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*flex-direction & flex-wrap*/
    justify-content: space-between;
    /* 진행축 정렬*/
    align-items: center;
    /* 교차축 정렬*/
    padding: 10%;
}

h1 {
    color: cornflowerblue;
    font-size: 50px;
    font-weight: bold;

    width: 13ch;
    /* width는 글자수 (space 포함) 만큼 설정해 주어야 */
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(13);
}

/* width가 0 인상태에서 시작 */
@keyframes typing {
    from {
        width: 0;
    }
}

h2 {
    color: chartreuse;
    font-size: 20px;
    letter-spacing: 0.1rem;
    margin-top: 5%;
}

#contactpage {
    border: 2px solid orchid;
    padding: 10px;
    width: 9em;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 5%;
}

#contactpage a {
    color: orchid;
}

#contactpage:hover {
    animation-name: blink;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes blink {
    100% {
        background-color: white;
        border-color: white;
    }
}

.item {
    padding: 10%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

hgroup {
    padding: 15%;
}

#title_about {
    font-size: 45px;
    margin-bottom: 5%;
}

#title_work {
    font-size: 45px;
    margin-bottom: 5%;
}

#title_skills {
    font-size: 45px;
    margin-bottom: 5%;
}

.item_main {
    
}

#footer {
    position: fixed;
    background: black;
    width: 100%;
    height: 4%;
    left: 0;
    bottom: 0;
    /* 상하, 좌우 */
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
